#features {
  /* To make sure it's not transparent*/
  position: relative;
}




h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
}
body {
    font-family: "Montserrat";
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }
  
  p {
    color: #8f8f8f;
  }
  
  /* Headings */
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 12%;
  }
  
  /* Sections */
  
  .colored-section {
    color: #fff;
  }
  
  .white-section {
    position:absolute;
    text-align: center;
    background-color: #fff;
    right:40%;
  }
  
 
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  #title {
    background-color: yellow;
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 15% 7%;
  }
  
  /* Title Image */
  
  .title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 15%;
  }
  
  /* Features Section */
  
  #features {
    position: relative;
  }
  
  .feature-title {
    font-size: 2rem;
    left: 15%;
  }
  
  .feature-box {
    padding: 4%;
  }
  
  
 
  
  /* Pricing Section */
  
  #pricing {
    padding: 15px;
    text-align: center;
 

  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 15% 25%;
  }
  

  
  
  /* Footer Section */
  
  
  .social-icon {
    margin: 25px 15px;
  }
  
  @media (max-width: 1028px) {
  
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
  